/*CSS 경로*/
.IT_HEADER_LOGO
{
    color: #FCA205;
    font-family: 'Tourney', cursive;
    margin: 2rem 0;
}

.IT_HEADER_MENU
{
    margin-bottom: 2rem;
}

.IT_FOOTER_MENU
{
    margin-top: 2rem;
}

.IT_FOOTER_LOGO
{
    margin: 1.5rem 0;
    color: #999999;
    font-family: 'Tourney', cursive;
}

.mw-500 {
    max-width: 500px;
    margin: 1rem 1.5rem;
}