{% extends 'base.html' %}

{% block content %}
    <style>

    .testing
    {
        background-color : yellow;
        margin : 1rem;
        height : 48px;
        width : 48px;
        border-radius : .5rem;
    }

    .box {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
    .box::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera*/
}
    </style>

    <div class = 'box' style = "height: 20rem; background-color: gold;
    margin: 2rem; border-radius: 1rem; font-size : 2rem; overflow: scroll">
        <h1>란란루</h1>
        <div class = 'testing' style = "display:block">block</div>
        <div class = 'testing' style = "display:block">block</div>
        <div class = 'testing' style = "display:block">block</div>
        <div class = 'testing' style = "display:block">block</div>
        <div class = 'testing' style = "display:block">block</div>
        <div class = 'testing' style = "display:block">block</div>
        <div class = 'testing' style = "display:block">block</div>
    </div>

    <div class = 'box' style = "height: 20rem; background-color: gold;
    margin: 2rem; border-radius: 1rem; font-size : 2rem; overflow: scroll">
        <div class = 'testing' style = "display:block">~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</div>
        <div class = 'testing' style = "display:block">~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</div>
        <div class = 'testing' style = "display:block">~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</div>
        <div class = 'testing' style = "display:block">~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</div>
        <div class = 'testing' style = "display:block">~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</div>
        <div class = 'testing' style = "display:block">~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</div>
    </div>
{% endblock %}