<div style = "text-align:center;">

    <div class="IT_HEADER_LOGO">
        <h1>ISSAC TOAST</h1>
    </div>

    <div class="IT_HEADER_MENU">
        <span class="mx-3">
            <a href="{% url 'articleapp:list' %}">
                Articles
            </a>
        </span>
        <span class="mx-3">
            <a href="{% url 'projectapp:list' %}">
                Project
            </a>
        </span>

        {% if user.is_authenticated %}
        <span class="mx-3">
            <a href="{% url 'subscribeapp:list' %}">
                Subscription
            </a>
        </span>
        {% endif %}

        {% if not user.is_authenticated %}
        <span class="mx-3">
            <a href = "{% url 'acountapp:login' %}">
                Login
            </a>
        </span>
        <span class="mx-3">
            <a href = "{% url 'acountapp:create' %}">
                SignUp
            </a>
        </span>
        {% else %}
        <span class="mx-3">
            <a href = "{% url 'acountapp:detail' pk=user.pk %}">
                MyPage
            </a>
        </span>
        <span class="mx-3">
            <a href = "{% url 'acountapp:logout' %}">
                Logout
            </a>
        </span>
        {% endif %}
    </div>

</div>