<div style = "text-align:center;">

    <div class="IT_HEADER_LOGO">
        <h1>ISSAC TOAST</h1>
    </div>

    <div class="IT_HEADER_MENU">
        <span>
            <a href="{% url 'articleapp:list' %}">
                Articles
            </a>
        </span>
        <span>nav2</span>
        {% if not user.is_authenticated %}
        <span>
            <a href = "{% url 'acountapp:login' %}">
                Login
            </a>
        </span>
        <span>
            <a href = "{% url 'acountapp:create' %}">
                SignUp
            </a>
        </span>
        {% else %}
        <span>
            <a href = "{% url 'acountapp:detail' pk=user.pk %}">
                MyPage
            </a>
        </span>
        <span>
            <a href = "{% url 'acountapp:logout' %}">
                Logout
            </a>
        </span>
        {% endif %}
    </div>

</div>